
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <div class="container">
        <table class="table table-bordered">
            @foreach (var vol in (List<Vol>)ViewData["vols"])
            {
            <tr>
                <td class="">@vol.ID</td>
                <td class="">@vol.Avion.libelle</td>
                <td class="">@vol.Aeroport.code</td>
                <td class="">@vol.Aeroport.code</td>
                <td class=""><a asp-action="Details" asp-controller="Vol" asp-route-id="@vol.ID">View more</a></td>
            </tr>
            }
        </table>
    </div>
</div>
