@model IEnumerable<Vol>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="">Vol Id</td>
                    <td class="">Libelle Avion</td>
                    <td class="">Aeroport depart</td>
                    <td class="">Aeroport Arrivee</td>
                    <td class="">Distqnce du voyage Km</td>
                    <td class="">View more</td>
                </tr>
            </thead>
            @foreach (var vol in Model)
            {
        <tr>
            <td class="">@vol.Id</td>
            <td class="">@vol.Avion.libelle - code. @vol.Avion.code</td>
            <td class="">@vol.Aeroport.libelle - @vol.Aeroport.code</td>
            <td class="">@vol.AeroportArrivee.libelle - @vol.Aeroport.code</td>
            <td class="">@vol.calculerDistance() Km</td>

            <td class=""><a asp-action="Details" asp-controller="Vol" asp-route-id="@vol.Id">View more</a></td>
        </tr>
            }
        </table>
    </div>
</div>
